.td-2 { text-indent: 2em; }

.bgwhite { background: #fff; }

.db { display: block; }

.oh { overflow: hidden; }

.rel { position: relative; }
.abs { position: absolute; }

.colorgreen { color: #20973b; }
