.section:nth-child(odd) {
	background: #fff;
}

.service-intro > dt {
	margin: 10px 0;
}

/* 最新动态 */
.news-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    max-width: calc(100% - 85px);
    overflow: hidden;
    color: #888;
}

.news-link:hover {
	color: #444;
}

.news-time {
	float: right;
	color: #808080;
}

.news-list {
	line-height: 2.5;
	border-bottom: 1px dotted #ccc;
}

.news-list:nth-child(6) ~ .news-list {
	display: none;
}

/* 最新动态 End */

/* < 768 */
@media only screen and (max-width: 768px) {
	.example-list {
		width: 50%;
	}

	.example-figcaption {
		/*-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);*/
	}
}
