

.content-self h2 {
	text-align: center;
}
.content-self p {
	padding: 1rem;
	text-indent: 2em;
	text-align: justify;
}
.content-self h5 {
	font-weight: bold;
	padding: 0 0.5rem;
}
.content-self {
	padding-bottom: 2.5rem;
}
.footcolor {
	text-align: center;
}
.footcolor a, .footcolor {
	color: white;
}
