

.top, .flash, .content, .foot {
	width: 1200px;
	margin: 0.5rem auto;
	overflow: hidden;
}
.content-self h2 {
	text-align: center;
	color: white;
}
.content-self p {
	text-indent: 2em;
	text-align: justify;
}
.content-self h5 {
	font-weight: bold;
}



