<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="../lib/layer/theme/default/layer.css" />
		<title>新增案例展示</title>
	</head>

	<body class="fixed-sidebar full-height-layout gray-bg">

		<form method="post" class="container-fluid">
			<fieldset id="js-news-edit">
				<legend>新增案例展示</legend>
				<div class="form-group">
					<label for="title">案例类型：</label>
					<select id="type" v-model="type" class="form-control">
						<option value="penwujiangwen">喷雾降温</option>
						<option value="penwuchuchen">喷雾除尘</option>
						<option value="jingguanzaowu">景观造雾</option>
						<option value="penwujiashi">喷雾加湿</option>
						<option value="penwuchuchou">喷雾除臭</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="title">案例标题：</label>
					<input type="text" class="form-control" id="title" maxlength="50" v-model="title" />
				</div>

				<div class="form-group">
					<label for="author">作者：</label>
					<input type="text" class="form-control" id="author" maxlength="10" v-model="author" />
				</div>

				<div class="form-group">
					<label for="view">浏览次数：</label>
					<input type="number" class="form-control" id="view"  v-model="view" />
				</div>
				
				<div class="form-group">
					<label for="title">新闻内容：</label>
					<!-- 加载编辑器的容器 -->
			    	<script id="container" name="content" type="text/plain"></script>
				</div>
				
				<hr />

				<div class="form-group text-center">
					<button type="button" class="btn btn-success mlr15" @click="submitNews" >提交</button>
					<button type="reset" class="btn btn-danger mlr15">重置</button>
				</div>
			</fieldset>
		</form>

		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<!--<script src="../js/nsw_index.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../lib/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../lib/layer/layer.js" ></script>></script>
		<script src="../ueditor/utf8-php/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../ueditor/utf8-php/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			var ue = UE.getEditor('container');
			var prefix = "http://wushengsy.com/"
			var detail = new Vue({
				el: "#js-news-edit",
				data: {
					title: '',
					author: "",
					view: "",
					content: '',
					type: 'penwujiangwen'
				},
				methods: {
					submitNews: function () {
						var data = this.$data;
						
						data.content = ue.getContent();
						
						$.post(prefix + "apis/news/addCase.php", data, function ( d ) {
							layer.msg( d.desc );
						});
					}
				}
			});
		</script>

	</body>

</html>