<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="nav-close">
		<i class="fa fa-times-circle"></i>
	</div>
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span><img alt="image" class="img-circle" src="img/sn2.png" /></span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear"></span>
						<span class="block m-t-xs"><strong class="font-bold">上海雾盛实业有限公司</strong></span>
					</a>
				</div>
				<!--logo-->
				<div class="logo-element">
					<span>
						<img alt="image" class="img-circle" src="img/sn2.png" />
					</span>
				</div>
				<li>
					<a href="#">
						<i class="fa fa-edit"></i>
						<span class="nav-label">新闻中心</span>
					</a>
					<ul class="nav nav-second-level">
						<li>
							<a class="J_menuItem" href="news.html">新闻列表</a>
						</li>
						<li>
							<a class="J_menuItem" href="news-add.html">发布新闻</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="J_menuItem" href="#">
						<i class="fa fa-edit"></i>
						<span class="nav-label">案例展示</span>
					</a>
					<ul class="nav nav-second-level">						
						<li>
			        		<a class="J_menuItem" href="case-add.html">新增案例展示</a>
			        	</li>
						<li>
			        		<a class="J_menuItem" href="case-penwujiangwen.html">喷雾降温</a>
			        	</li>
			        	<li>
			        		<a class="J_menuItem" href="case-penwuchuchen.html">喷雾除尘</a>
			        	</li>
			        	<li>
			        		<a class="J_menuItem" href="case-jingguanzaowu.html">景观造雾</a>
			        	</li>
			        	<li>
			        		<a class="J_menuItem" href="case-penwujiashi.html">喷雾加湿</a>
			        	</li>
			        	<li>
			        		<a class="J_menuItem" href="case-penwuchuchou.html">喷雾除臭</a>
			        	</li>
					</ul>
				</li>
				<li>
					<a class="J_menuItem" href="#">
						<i class="fa fa-edit"></i>
						<span class="nav-label">产品展示</span>
					</a>
					<ul class="nav nav-second-level">
						<li>
							<a class="J_menuItem" href="product-add.html">新增产品展示</a>
						</li>
						<li>
							<a class="J_menuItem" href="product-zhuji.html">雾胜主机</a>
						</li>
						<li>
							<a class="J_menuItem" href="product-pentouguanjian.html">喷头和管件</a>
						</li>
					</ul>
				</li>
			</li>
		</ul>
	</div>
</nav>