<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="上海雾盛实业有限公司是一家集喷雾，喷泉，净化水设备等环保产品研发、设计、生产、安装、调试及培训为一体的大型综合性公司，公司长期专致改善室外环境，独特高效的降温节能设计。系列工程有：人造雾工程，冷雾降温工程，景观造雾工程，加湿除除尘工程，喷雾生物除臭工程，化学除臭工程，中水回用工程，污水处理工程，泳池净化工程，自动加湿工程，园林喷溉工程，人工降雨工程，森林雨雾工程，水帘降温工程，水冷降温工程，大棚湿润工程,滴灌及微喷灌工程。其中公司现代农业工程,依托公司降温程控技术,物联网技术,工业智能系统技术竭诚为传统行业提供节能化、信息化、智能化的产品与解决方法.公司拥有一流的技术和服务团队,秉承＂科技兴企＂的宗旨，以真诚．专业．创新．高效的服务投身于中国的节能事业，先进的生产理念．科学的质量管理，卓越的技术创新．完善的售后服务，使企业取得了良好的社会信誉和成绩．公司坚持＂客户第一，诚信做人＂的原则，可根据客户的需求进行定制．对系统的每个部件进行深入开发．以满足不同场合．不同环境的使用要求．达到好的使用效果．公司以低碳经济和绿色地球为目标，用高品质的产品和技术精良的服务团队，给国内各行各业顾客带来实在的回报，用自身的微薄之力在人类和生活环境改善付出行动，在未来的发展中，我们离不开你的大力支持，我们愿与你携手同行，与时俱进，同创人类自然和生活的美好环境．" />
		<meta name="keywords" content="上海雾盛实业有限公司, 喷雾, 喷泉, 净化水设备, 环保" />
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="lib/swiper/3.4.2/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/function.css" />

		<!-- preload -->
		<link rel="preload" as="image" href="img/system/logo.png" />

		<title>上海雾盛实业有限公司</title>
	</head>

	<body>
		<header class="header wrapper clearfix">
			<a href="index.html" class="ws_logo_link">
				<img class="ws_logo" src="img/system/logo.png" alt="上海雾盛实业有限公司" title="上海雾盛实业有限公司" />
			</a>
			
			<button class="btn btn-link btn-menu visible-xs">
				<i class="glyphicon glyphicon-menu-hamburger"></i>
			</button>
			
			<nav class="nav nav-pills ws_nav">
				<li>
					<a href="javascript:;">首　　页<span class="eng-tip">HOME</span></a>
				</li>
				<li>
					<a href="javascript:;">关于我们<span class="eng-tip">ABOUT</span></a>
				</li>
				<li>
					<a href="javascript:;">应用案例<span class="eng-tip">EXAMPLE</span></a>
				</li>
				<li>
					<a href="javascript:;">产品展示<span class="eng-tip">PRODUCT</span></a>
				</li>
				<li>
					<a href="javascript:;">工程案例<span class="eng-tip">PROJECT</span></a>
				</li>
				<li>
					<a href="javascript:;">新闻资讯<span class="eng-tip">NEWS</span></a>
				</li>
				<li>
					<a href="javascript:;">联系我们<span class="eng-tip">CONTACT</span></a>
				</li>
			</nav>
		</header>
		<!-- 轮播图 -->
		<section>
			<div id="carousel" class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="img/carousel/flash.jpg" /></div>
					<div class="swiper-slide"><img src="img/carousel/flash2.jpg" /></div>
					<div class="swiper-slide"><img src="img/carousel/flash3.jpg" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</section>

		<!-- 公司简介 -->
		<section class="wrapper section">
			<h2 class="wrapper-header">INTRODUCTION</h2>
			<h3 class="wrapper-title">公司介绍</h3>
			<h3 class="wrapper-subtitle">上海雾盛实业有限公司 —— 您身边的室外环境改善专家</h3>

			<hr class="split" />

			<article class="wrapper-article td-2">上海雾盛实业有限公司是一家集喷雾，喷泉，净化水设备等环保产品研发、设计、生产、安装、调试及培训为一体的大型综合性公司，公司长期专致改善室外环境，独特高效的降温节能设计。系列工程有：人造雾工程，冷雾降温工程，景观造雾工程，加湿除除尘工程，喷雾生物除臭工程，化学除臭工程，中水回用工程，污水处理工程，泳池净化工程，自动加湿工程，园林喷溉工程，人工降雨工程，森林雨雾工程，水帘降温工程，水冷降温工程，大棚湿润工程,滴灌及微喷灌工程。其中公司现代农业工程,依托公司降温程控技术,物联网技术,工业智能系统技术竭诚为传统行业提供节能化、信息化、智能化的产品与解决方法.公司拥有一流的技术和服务团队,秉承＂科技兴企＂的宗旨，以真诚．专业．创新．高效的服务投身于中国的节能事业，先进的生产理念．科学的质量管理，卓越的技术创新．完善的售后服务，使企业取得了良好的社会信誉和成绩．公司坚持＂客户第一，诚信做人＂的原则，可根据客户的需求进行定制．对系统的每个部件进行深入开发．以满足不同场合．不同环境的使用要求．达到好的使用效果．公司以低碳经济和绿色地球为目标，用高品质的产品和技术精良的服务团队，给国内各行各业顾客带来实在的回报，用自身的微薄之力在人类和生活环境改善付出行动，在未来的发展中，我们离不开你的大力支持，我们愿与你携手同行，与时俱进，同创人类自然和生活的美好环境．</article>
			<article class="wrapper-article">
				<dl class="service-intro">
					<dt class="colorgreen">我们的技术</dt>
					<dd class="td-2">公司针对喷雾系统新趋势市场需求，不断追求卓越的造雾技术与方法，制造“高品质、低成本”的专业喷雾产品，自公司成立以来一直坚持以最完美的品质为目标，自主研发多种新型红宝石喷头，并采用最新膜净化处理技术，借鉴了国际进口压缩系统的技术研发了可移动及可持续性便捷控制系统，赢得了客户的认可和高度评价，一直走在行业前端。</dd>
					<dt class="colorgreen">我们的团队</dt>
					<dd class="td-2">我们拥有一支由2名博士、3名硕士、5名具有15年实际工作雾效绿化的工程师及国内高效合作研发团队, 注重产品适用性、高效性及细节等方面的研发和改进，促进本公司产品在市场上不断升级。</dd>
					<dt class="colorgreen">服务宗旨 </dt>
					<dd class="td-2">上海雾盛实业有限公司 作为国内环境空间优化解决方案的生产商及供货商，业务遍布全国22个省市，自治区，直辖市，始终以观念国际化、设计专业化、技术熟练化、产品高质化、施工完美化、价格合理化、售后服务化、终生保固化、用户最大满意化为宗旨，为您提供最优质的服务，真诚地期待与您的互动合作，共创自然之境。</dd>
				</dl>
			</article>
		</section>

		<!-- 案例展示 -->
		<section class="wrapper section">
			<h2 class="wrapper-header">EXAMPLE</h2>
			<h3 class="wrapper-title">案例展示</h3>
			<h3 class="wrapper-subtitle">雾盛为您打造属于你的专属降温系统！</h3>

			<hr class="split" />

			<article class="wrapper-article">
				<ul class="example clearfix">
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen1.jpg" alt="逍遥公园经雾盛设计方案！达到了即美观又降温的实际效果！吸引游客眼球"/>
								<figcaption class="example-figcaption">逍遥公园经雾盛设计方案！达到了即美观又降温的实际效果！吸引游客眼球</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen2.jpg" alt="荷花节我公司喷雾降温终端闪亮登场！！！雾盛你值得拥有！"/>
								<figcaption class="example-figcaption">荷花节我公司喷雾降温终端闪亮登场！！！雾盛你值得拥有！</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen3.jpg" alt="公园喷雾降温，美观！"/>
								<figcaption class="example-figcaption">公园喷雾降温，美观！</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen4.jpg" alt="夏天公交站台等车太热！喷雾降温来解决！雾盛为您服务！"/>
								<figcaption class="example-figcaption">夏天公交站台等车太热！喷雾降温来解决！雾盛为您服务！</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen5.jpg" alt="夏天的建筑工地怎么过！！！选择雾盛！！！清凉过夏"/>
								<figcaption class="example-figcaption">夏天的建筑工地怎么过！！！选择雾盛！！！清凉过夏</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen6.jpg" alt="夏天建筑工地太热，工期太赶怎么办，选择雾盛喷雾降温！！！"/>
								<figcaption class="example-figcaption">夏天建筑工地太热，工期太赶怎么办，选择雾盛喷雾降温！！！</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen7.jpg" alt="饭店生意太好，客人等位太热，我们帮您解决"/>
								<figcaption class="example-figcaption">饭店生意太好，客人等位太热，我们帮您解决</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen8.jpg" alt="饭店门口走廊喷雾降温！顾客清凉一夏"/>
								<figcaption class="example-figcaption">饭店门口走廊喷雾降温！顾客清凉一夏</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen9.jpg" alt="世博会人太多选择雾盛喷雾来降温"/>
								<figcaption class="example-figcaption">世博会人太多选择雾盛喷雾来降温</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen10.jpg" alt="家乐福大型中央空调夏天外机太热喷雾降温"/>
								<figcaption class="example-figcaption">家乐福大型中央空调夏天外机太热喷雾降温</figcaption>
							</figure>
						</a>
					</li>
				</ul>
			</article>
		</section>

		<!-- 视频中心 -->
		<section class="wrapper section">
			<h2 class="wrapper-header">VIDEO</h2>
			<h3 class="wrapper-title">视频中心</h3>
			<h3 class="wrapper-subtitle">我们用事实说话，雾盛工程案列！因为专注！所以专业！</h3>

			<hr class="split" />

			<article class="wrapper-article">
				<ul class="example clearfix">
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen1.jpg" alt="逍遥公园经雾盛设计方案！达到了即美观又降温的实际效果！吸引游客眼球"/>
								<figcaption class="example-figcaption">福建高速公路检测站喷雾降温，上海雾盛出品</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen2.jpg" alt="荷花节我公司喷雾降温终端闪亮登场！！！雾盛你值得拥有！"/>
								<figcaption class="example-figcaption">海南三亚市中亚国际酒店喷雾降温，定制产品！雾盛出品</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen3.jpg" alt="公园喷雾降温，美观！"/>
								<figcaption class="example-figcaption">上海光明地产商业街喷雾降温！雾盛出品</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen4.jpg" alt="夏天公交站台等车太热！喷雾降温来解决！雾盛为您服务！"/>
								<figcaption class="example-figcaption">南通商业街喷雾降温，上海雾盛送您清凉一夏</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/1penwujiangwen/pengwujiangwen5.jpg" alt="夏天的建筑工地怎么过！！！选择雾盛！！！清凉过夏"/>
								<figcaption class="example-figcaption">海南三亚市中亚国际酒店29楼露天休息区喷雾降温选择上海雾盛，我们为其专业定制的喷雾降温系统</figcaption>
							</figure>
						</a>
					</li>
				</ul>
			</article>
		</section>

		<!-- 最新动态 -->
		<section class="wrapper section">
			<h2 class="wrapper-header">DYNAMIC</h2>
			<h3 class="wrapper-title">最新动态</h3>
			<h3 class="wrapper-subtitle">了解行业信息 及时掌握最新动态</h3>

			<hr class="split" />

			<article class="wrapper-article">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<dl id="industryNews" class="news">
							<dt class="colorgreen h4">行业动态</dt>
							<dd class="news-list" v-for="l in list">
								<a class="news-link" href="javascript:;">{{ l.title }}</a>
								<time pubdate class="news-time">{{ l.time }}</time>
							</dd>
						</dl>
					</div>

					<div class="col-sm-6 col-xs-12">
						<dl id="companyNews" class="news">
							<dt class="colorgreen h4">公司新闻</dt>
							<dd class="news-list" v-for="l in list">
								<a class="news-link" href="javascript:;">{{ l.title }}</a>
								<time pubdate class="news-time">{{ l.time }}</time>
							</dd>
						</dl>
					</div>
				</div>
			</article>
		</section>
		
		<!-- 荣誉中心 -->
		<section class="wrapper section">
			<h2 class="wrapper-header">HONOR</h2>
			<h3 class="wrapper-title">荣誉中心</h3>
			<h3 class="wrapper-subtitle">百尺竿头 更进一步</h3>

			<hr class="split" />

			<article class="wrapper-article">
				<ul class="example clearfix">
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/honor/jishunengshou.jpg" alt="高家成同志技术能手证书"/>
								<figcaption class="example-figcaption">高家成同志技术能手证书</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/honor/gaoxinjishuqiye.jpg" alt="高新技术企业证书"/>
								<figcaption class="example-figcaption">高新技术企业证书</figcaption>
							</figure>
						</a>
					</li>
					<li class="example-list">
						<a href="javascript:;" class="db">
							<figure class="example-figure">
								<img class="example-thumb" src="img/honor/hexieqiye.jpg" alt="劳动关系和谐企业"/>
								<figcaption class="example-figcaption">劳动关系和谐企业</figcaption>
							</figure>
						</a>
					</li>
				</ul>
			</article>
		</section>

		<!-- 版权信息 -->
		<footer class="wrapper footer text-center">
			<p>©版权所有 上海雾盛实业有限公司</p>
			<p>沪ICP备17010727号-2</p>
			<address>地址：上海市奉贤区金碧路585号</address>
			<dl>
				<dt>联系人：高先生</dt>
				<dd>电话：
					<a href="tel:4008215663">4008 215 663</a>
				</dd>
				<dd>传真：
					<a href="tel:02154301293">021 5430 1293</a>
				</dd>
				<dd>手机：
					<a href="tel:15221191979">152 2119 1979</a>
				</dd>
			</dl>
		</footer>

		<script src="lib/jquery/3.2.1/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/swiper/3.4.2/js/swiper.jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/vuejs/2.5.2/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$( function () {
				var mySwiper = new Swiper( '.swiper-container', {
					autoplay: 3000,
					pagination: ".swiper-pagination",
					speed: 300,
					paginationClickable: true
				} );

				// 行业动态
				$.getJSON("data/industryNews.json", function ( _data ) {
					var industryNews = new Vue({
						el: "#industryNews",
						data: {
							list: _data
						}
					});
				});

				// 公司新闻
				$.getJSON("data/companyNews.json", function ( _data ) {
					var industryNews = new Vue({
						el: "#companyNews",
						data: {
							list: _data
						}
					});
				});
			} );
		</script>
	</body>
</html>