<!DOCTYPE html>
<html>

	<head id="Head1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>上海雾盛实业有限公司</title>
		<meta name="copyright" content="上海雾盛实业有限公司" />
		<meta name="keywords" content="上海雾盛实业有限公司, 喷雾降温, 景观造雾, 喷雾加湿, 喷雾除尘, 喷雾除臭, 雾盛主机" />
		<meta name="description" content="上海雾盛实业有限公司是一家集喷雾，喷泉，净化水设备等环保产品研发、设计、生产、安装、调试及培训为一体的大型综合性公司，公司长期专致改善室外环境，独特高效的降温节能设计。系列工程有：人造雾工程，冷雾降温工程，景观造雾工程，加湿除除尘工程，喷雾生物除臭工程，化学除臭工程，中水回用工程，污水处理工程，泳池净化工程，自动加湿工程，园林喷溉工程，人工降雨工程，森林雨雾工程，水帘降温工程，水冷降温工程，大棚湿润工程,滴灌及微喷灌工程。其中公司现代农业工程,依托公司降温程控技术,物联网技术,工业智能系统技术竭诚为传统行业提供节能化、信息化、智能化的产品与解决方法.公司拥有一流的技术和服务团队,秉承”科技兴企”的宗旨，以真诚．专业．创新．高效的服务投身于中国的节能事业，先进的生产理念．科学的质量管理，卓越的技术创新．完善的售后服务，使企业取得了良好的社会信誉和成绩．公司坚持”客户第一，诚信做人”的原则，可根据客户的需求进行定制．对系统的每个部件进行深入开发．以满足不同场合．不同环境的使用要求．达到好的使用效果．公司以低碳经济和绿色地球为目标，用高品质的产品和技术精良的服务团队，给国内各行各业顾客带来实在的回报，用自身的微薄之力在人类和生活环境改善付出行动，在未来的发展中，我们离不开你的大力支持，我们愿与你携手同行，与时俱进，同创人类自然和生活的美好环境．" />
		<link rel="stylesheet" type="text/css" href="lib/swiper/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/allStyle.css" />
		<link href="css/resetcommonindex.css" rel="stylesheet" type="text/css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>

	<body>
		<div class="h_top">
			<div class="header">
				<!--顶部内容-->
				<p>
					<span>
						<a href="javascript:;" title="在线留言" target="_blank">在线留言</a>|
						<a href="javascript:;" title="联系雾盛" target="_blank">联系雾盛</a>|
						<a href="javascript:;" onclick="javascript:addBookmark(this)" title="收藏本站">收藏本站</a>|
						<a href="javascript:;" title="网站地图" target="_blank">网站地图</a>
			    	</span> 您好，欢迎访问上海雾盛实业有限公司！
				</p>
				<!--logo联系方式-->
				<div class="h_logo">
					<img class="logo" src="images/system/logo.png" alt="上海雾盛有限公司" />
					<h3>4008 215 663<span>152 2119 1979</span></h3>
				</div>
				<!--导航栏-->
				<div class="h_nav">
					<ul class="h_ul">
						<li class="cur"><i></i>
							<a href="index.html" title="首页">首页</a>
						</li>
						<li><i></i>
							<a href="penwujiangwen.html" title="喷雾降温">喷雾降温</a>
						</li>
						<li><i></i>
							<a href="penwuchuchen.html" title="喷雾除尘">喷雾除尘</a>
						</li>
						<li><i></i>
							<a href="jingguanzaowu.html" title="景观造雾">景观造雾</a>
						</li>
						<li><i></i>
							<a href="penwujiasi.html" title="喷雾加湿">喷雾加湿</a>
						</li>
						<li><i></i>
							<a href="penwuchuchou.html" title="喷雾除臭">喷雾除臭</a>
						</li>
						<li><i></i>
							<a href="wushengzhuji.html" title="雾盛主机">雾盛主机</a>
						</li>
						<li><i></i>
							<a href="wushengguanjian.html" title="喷头和管件">喷头和管件</a>
						</li>
						<li><i></i>
							<a href="aboutour.html" title="联系我们">联系我们</a>
						</li>
					</ul>
				</div>
				
			</div>
		</div>

		<script type="text/javascript">
			var MARK = "index";
		</script>
		<div class="ban1 bw">
			<div class="content">
				<p><span>量身定做--<b>雾盛解决方案</b></span>
					<a href="javascript:;" target="_blank" title="立即咨询">立即咨询</a>
				</p>
				<h3><span>雾盛免费服务电话</span><i>4008-215-663</i>152-2119-1979</h3>
			</div>
		</div>
		<!--应用实例-->
		<div class="pro">
			<div class="content">
				<!--左侧菜单栏-->
				<div class="pro_l">
					<h3><a href="javascript:;" title="信息"><span>雾盛<i>信息</i></span>Product Center</a></h3>
					<h4 sid='0001,0004'><a href="javascript:;" title="产品分类">雾盛信息</a></h4>
					<ul>
						<li sid='0001,0004,0026'>
							<a href="panter.html" title="合作伙伴">合作伙伴</a>
						</li>
						<li sid='0001,0004,0027'>
							<a href="penwuchuchen.html" title="客户见证">客户见证</a>
						</li>
						<li sid='0001,0004,0028'>
							<a href="jingguanzaowu.html" title="成功案例">成功案例</a>
						</li>
						<li sid='0001,0004,0041'>
							<a href="goincompany.html" title="走进雾盛">走进雾盛</a>
						</li>
						<li sid='0001,0004,0043'>
							<a href="honor.html" title="荣誉资质">荣誉资质</a>
						</li>
						<li sid='0001,0004,0042'>
							<a href="photoAlbum.html" title="企业相册">企业相册</a>
						</li>
					</ul>
					<h4 sid='0001,0010'><a href="javascript:;" title="新闻资讯">新闻资讯</a></h4>
					<ul>
						<li sid='0001,0010,0005'>
							<a href="dynamic.html" title="雾盛动态">雾盛动态</a>
						</li>
						<li sid='0001,0010,0007'>
							<a href="news.html" title="行业新闻">行业新闻</a>
						</li>
						<li sid='0001,0010,0008'>
							<a href="video.html" title="视频中心">视频中心</a>
						</li>
						<li sid='0001,0010,0006'>
							<a href="question.html" title="常见问题解答">常见问题解答</a>
						</li>
					</ul>
				</div>
				<div class="newsli" id="penwu">
					<ul>
						<li class="newfl" v-for="foo in newfoos" v-cloak>
							<h3 class="newsh">{{foo.title}}<span class="newstime">{{foo.time}}</span></h3>
							<p class="newsp">{{foo.desc}}</p>
						</li>
					</ul>
					<ul id="page-number">
						<li class="float" v-for="number in newnumber" v-cloak><button class="numberbg" @click="change(number)">{{ number+1 }}</button></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="f_foot">
			<div class="footer">
				<div class="foots clearfix">
					<dl class="wid25 foots-item">
						<dt><img class="foots-item-icon" src="images/system/icon-tel.png"/></dt>
						<dd>客服热线</dd>
						<dd>4008-215-663</dd>
					</dl>
					
					<dl class="wid25 foots-item">
						<dt><img class="foots-item-icon" src="images/system/icon-fax.png"/></dt>
						<dd>传真</dd>
						<dd>021-5430-1293</dd>
					</dl>
					
					<dl class="wid25 foots-item">
						<dt><img class="foots-item-icon" src="images/system/icon-email.png"/></dt>
						<dd>邮箱</dd>
						<dd>3443628790@qq.com</dd>
					</dl>
					
					<dl class="wid25 foots-item">
						<dt><img class="foots-item-icon" src="images/system/icon-address.png"/></dt>
						<dd>地址</dd>
						<dd>上海市奉贤区金汇镇金碧路585号</dd>
					</dl>
				</div>
				<dl class="foots-item" style="margin-top: 20px;">
					<dd>©版权所有 上海雾盛实业有限公司</dd>
					<dd>沪ICP备17010727号-2</dd>
				</dl>

			</div>
		</div>
		<!-- 返回顶部 -->
		<script src="lib/jquery/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/nsw_index.js"></script>
		<script src="js/rollup.min.js" type="text/javascript"></script>
		<!--[if IE 6]>
		<script src="js/dd_belatedpng.js" ></script>
		<![endif]-->
		<!-- Baidu Button BEGIN 百度分享开始 -->
		<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=2&amp;pos=left&amp;uid=774763"></script>
		<script type="text/javascript" id="bdshell_js"></script>
		<!-- Baidu Button END 百度分享结束 -->
		<script src="js/jquery.lazyload.min.js" type="text/javascript"></script>
		<script src="lib/swiper/swiper.jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$.getJSON("data/companyNews.json",function (_data) {
					var $app = new Vue({
					el:'#penwu',
					data:{
						foos:_data,
						size:5,
						currentPage:1
					},
					computed:{
						newfoos:function () {
							var start = (this.currentPage - 1) * this.currentPage;
							var end = this.currentPage * this.size;
							return this.foos.slice(start,end)
						},
						newnumber:function () {
							var total = Math.ceil( this.foos.length/this.size );
							var arr = [];
							for (var i=0; i<total; i++) {
								arr.push(i)
							}
							return arr
						}
					},
					methods:{
						change:function (num) {
							this.currentPage = num + 1;
						}
					}
					
					})
					
					$(".numberbg:first").addClass("addnumberbg");
						$(".numberbg").on('click',function () {
							$(this).addClass('addnumberbg').parent().siblings().find('.numberbg').removeClass('addnumberbg')
						})
				})
			})
		</script>

	</body>

</html>