<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="false" />
        <handlers>
            <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.shtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
